header {
    --header-height:clamp(10vh , 5vw ,15vh );
    height: var(--header-height);
    nav {
        gap:clamp(60px ,5vw  , 80px)
    }
    .navlink {
font-size: clamp(10px , 4vw ,1rem );
        font-weight: 600;
        line-height: 28px;
    }
    .navbar-link {
        font-size: clamp(10px , 4vw ,1rem );
        font-weight: 600;
        line-height:clamp(1rem ,4vw ,28px );        
    }
    .outline-button {
        width: 170px;
        height: 40px;
        border-radius: 28.5px;
        border: 1px solid #30447F;
        display: grid;
        place-items: center;
font-size: clamp(10px , 4vw ,1rem );
font-weight: 600;
line-height: 24px;        
color: var(--clr-blue-gray);
    }
    .website-logo {
        max-width: clamp(30px, 5vw, 69px);
    }
}

.mobil-menu i {
font-size:clamp(3rem , 4vw,5rem );
color: var(--clr-blue-gray);
}

@media (max-width:992px)  {
  .navlinsk {
    --content-width: 65%;
    position: fixed;
    top: 0;
    left:-20rem;
    background-color: white;
    padding: 1rem;
    flex-direction: column;
    height: 100svh;
    width:var(--content-width);
    justify-content: center;
    transition: .5s;
    z-index: 10;
    &.active {
    left:0 ;
    }
  }
  }

